@import url(https://fonts.googleapis.com/css?family=Manrope:200,300,regular,500,600,700,800);

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Manrope", sans-serif;
  background-color: hsl(210, 46%, 95%);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  background-color: white;
  color: black;
  width: 850px;
  display: flex;
  height: 350px;
  /* overflow: hidden; */
  border: none;
  border-radius: 8px;
  box-shadow: 5px 5px 3px 5px hsl(212, 23%, 69%);
}

.product-img img {
  width: 300px;
  height: 350px;
  display: block;
}

.profile {
  display: flex;
  flex-direction: column;
}

.person {
  position: absolute;
  top: 79%;
  right: 300px;
}

.person-details {
  position: absolute;
  top: 66%;
  right: 40%;
  
  display: flex;
  flex-direction: column;
  font-size: 16px;
}

#share {
  position: relative;
  background-color: red;
  
}


#share-icon {
  position: absolute;
  top: 82%;
  height: 35px;
  width: 25px;
  right: 25px;
  border: none;
  border-radius: 50%;
  background-color: rgb(240, 236, 236);
  color: black;
  cursor: pointer;
}



.person img {
  width: 50px;
  border-radius: 50px;
  position: absolute;
  right: 415px;
  bottom: 35px;
}

.top-text h1 {
  font-size: 25px;
  font-weight: 600;
  color: hsl(217, 19%, 35%);
  padding-top: 29px;
  padding-left: 40px;
}

.bottom-text p {
  padding-left: 40px;
  font-size: 18px;
  color: hsl(217, 19%, 35%);
  padding-top: 30px;
}

.name {
  color: hsl(217, 19%, 35%);
  font-weight: bold;
}

.date {
color: hsl(217, 19%, 35%);
}



#medias {
  position: fixed;
  bottom: 250px;
  right: 200px;
  background-color: #48556a;
  padding: 22px 30px;
  border-radius: 12px;
  height: 20px;
  display: flex;
  gap: 20px;
  flex-direction: row;
  display: none;
}

#medias span {
  color: hsl(200, 3.1%, 81%);
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 18px;
  cursor: pointer;
}

#medias.active {
  display: flex;
}
#medias img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

#medias::after{
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #48556a;
  left: 50%;
  bottom: -10px;
  transform: translateX(-50%);
}

#share-icon:hover {
  background-color: #48556a;
}


@media (max-width: 375px){

.container {
    padding-top: 22px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 100%;
    box-shadow:0 4px 12px rgba(0, 0, 0, 0.15);
  }

  .product-img {
    position: relative;
  top: -22px;

  }
  .product-img img {
   border-radius: 8px;
    width: 100%;
    height: 100%;
    padding-bottom: 50px;
    
  }

  .text {
    position: relative;
  top: -68px;
  }

  .text .top-text h1 {
    font-weight: 600;
    font-size: 19px;
    
    position: relative;
    top: -8px;
    right: 20px;
  }

.text .bottom-text p {
  font-size: 15px;
    position: relative;
    top: -20px;
    right: 20px;
}

.person-details {
  padding-top: 145px;
    position: absolute;
    right: 110px;
}

.person img{
  position: absolute;
    left: -20px;
    top: 48px;
}

#share {
  margin-top: 30px;
}

#share button {
  position: absolute;
  top: -64px;
  left: 117px;
  background-color: #fff;
  z-index: 1;
}




#medias {
  position: absolute;
    bottom: 0px;
    right: 19px;
    background-color: #48556a;
    padding: 22px 30px;
    border-radius: 9px;
    height: 50px;
    gap: 20px;
    flex-direction: row;
    display: none;
    width: 73%;
}

#media.active {
  display: flex;
}

#medias span {
  padding-top: 12px;
}
#medias img{ 
  padding-top: 12px;
    height: 25px;
}

#medias::after {
    display: none;
  }

}